@import url('https://fonts.googleapis.com/css?family=Oswald|Playfair+Display:400,700');
@font-face{
    font-family: 'icons';
    src: url('./fonts/icons.eot');
    src: url('./fonts/icons.eot?#iefix') format('embedded-opentype'),
         url('./fonts/icons.svg#edgeweb_icons') format('svg'),
         url('./fonts/icons.woff') format('woff'),
         url('./fonts/icons.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
/* CSS RESET */
*{
    margin: 0px;
    padding: 0px;
    outline: none;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
label {
    cursor: default;
}
h1{
    font-weight: normal;
}
/* GENERAL */
html, body{
    width: 100%;
    height: 100%;
    background-color: hsla(48, 38%, 94%, 1);
    color: hsla(196, 10%, 49%, 1);
    font-family: "Oswald", sans-serif;
    font-size: 62.5%;
    text-align: center;
}
.icon{
    font-family: "icons", sans-serif;
}
.inner-layout{
    display: block;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    min-width: 320px;
}
#social-menu{
    background-color: hsla(5, 85%, 56%, 1);
    width: 100%;
    height: 30px;
    text-align: center;
    padding-top: 5px;
}
#social-menu li{
    float: right;
    padding-left: 15px;
}
#social-menu li a{
    display: block;
}
#social-menu li a span{
    display: none;
}
#social-menu li.fb a{
    width: 13px;
    height: 25px;
    background: url("../img/facebook.png") no-repeat 1px 0px;
}
#social-menu li.fb a:hover{
    background: url("../img/facebook.png") no-repeat -12px 0px;
}
#social-menu li.cart a{
    width: 26px;
    height: 25px;
    background: url("../img/cart.png") no-repeat 0px 0px;
}
#social-menu li.cart a:hover{
    background: url("../img/cart.png") no-repeat -26px 0px;
}
header{
    text-align: left;
    padding-top: 20px;
    height: 130px;
    position: relative;
}
#logo{
    display: block;
    width: 230px;
    height: 140px;
}
#logo:hover{
    -webkit-filter: opacity(60%) grayscale(100%);
    filter: opacity(60%) grayscale(100%);
}
#main-menu{
    position: absolute;
    right: 0;
    bottom: 15px;
}
#main-menu li{
    float: left;
    padding: 0 10px 0 10px;
    font-size: 2.5em;
}
#main-menu li:last-child{
    padding-right: 0;
}
#main-menu a{
    color: hsla(196, 10%, 49%, 1);
}
#main-menu a:hover{
    color: hsla(0, 0%, 0%, 1);
}
#main-menu li.current a{
    color: hsla(5, 85%, 56%, 1);
}
section{
    width: 100%;
    min-height: -webkit-calc(100% - 215px);
    min-height: -moz-calc(100% - 215px);
    min-height: calc(100% - 215px);
    background-color: hsla(0, 0%, 100%, 1);
    background-image: url("../img/bg-section2.png");
    background-position: left top;
    background-repeat: repeat-y;
    overflow: auto;
}
article{
    overflow: auto;
    height: 100%;
    position: relative;
}
/* FOOTER */
footer{
    width: 100%;
    height: 30px;
    background: hsla(0, 0%, 0%, 1);
    clear: both;
}
footer ul{
    margin: auto;
}
footer ul li{
    padding: 6px 0 0 20px;
    float: right;
    color: hsla(0, 0%, 53%, 1);
    font-family: "Playfair Display", serif;
    font-size: 2em;
}
footer ul li a{
    color: hsla(0, 0%, 53%, 1);
    font-family: "Playfair Display", serif;
}
footer ul li a:hover{
    color: hsla(0, 0%, 75%, 1);
}
/* HOME */
section.home{
    background-image: url("../img/bg-section.png"), url("../img/bg-section2.png"), url("../img/bg-section3.png");
    background-position: top, left top, left top;
    background-repeat: repeat-x, no-repeat, repeat-y;
}
.home-layout{
    display: block;
    width: 65%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    min-width: 320px;
    padding: 0 9px 0 9px;
}
#home-left-column{
    float: left;
    width: 43%;
    background: hsla(0, 0%, 100%, 1);
    text-align: left;
    padding: 125px 6% 75px 6%;
    margin-top: 30px;
}
#home-left-column h1{
    font-size: 2.9em;
    font-family: "Playfair Display", serif;
    color: hsla(0, 0%, 0%, 1);
    font-style: italic;
    text-shadow: 1px 1px 0px hsla(185, 22%, 90%, 1);
}
#home-left-column p{
    font-size: 2.2em;
    font-family: "Playfair Display", serif;
    color: hsla(0, 0%, 0%, 1);
    text-shadow: 1px 1px 0px hsla(185, 22%, 90%, 1);
    padding-top: 23px;
    line-height: 2em;
    text-align: justify;
}
#home-right-column{
    width: 45%;
    height: 100%;
    position: absolute;
    right: 9px;
    background: url("../img/bg-right-colum.png") top right no-repeat hsla(192, 26%, 96%, 1);
}
#home-right-column h1{
    float: right;
    display: block;
    min-width: 80%;
    height: 58px;
    padding-bottom: 9px;
    background: url("../img/bg-title.png") right top no-repeat;
    margin: 70px -9px 0 0;
}
#home-right-column h1 span{
    font-family: "Playfair Display", serif;
    display: block;
    width: 100%;
    height: 58px;
    text-align: center;
    background-color: hsla(195, 13%, 53%, 1);
    font-size: 3em;
    color: hsla(0, 0%, 100%, 1);
    vertical-align: middle;
    line-height: 2.5em;
}
#home-promo{
    display: block;
    clear: both;
    width: 100%;
    padding-top: 67px;
}
#home-promo li{
    float: left;
    padding-left: 3%;
    width: calc((100% - 12%)/3);
}
#home-promo li a.thumb{
    display: block;
    width: 100%;
    max-width: 300px;
    overflow: hidden;
}
#home-promo li a.thumb img:hover{
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}
#home-promo li a.thumb img{
    width:100%;
}
#home-promo li h2{
    display: block;
    width: 100%;
    font-size: 2em;
}
#home-promo li h2 a{
    margin-top: 20px;
    border-top: solid 1px hsla(0, 0%, 0%, 1);
    border-bottom: solid 1px hsla(0, 0%, 0%, 1);
    padding: 15px 0 15px 0;
    display: block;
    width: 100%;
    color: hsla(0, 0%, 0%, 1);
    text-align: left;
    font-weight: normal;
    text-transform: uppercase;
}
#home-promo li h2 a:hover{
    color: hsla(5, 85%, 56%, 1);
    border-top: solid 1px hsla(5, 85%, 56%, 1);
    border-bottom: solid 1px hsla(5, 85%, 56%, 1);
}
#home-promo li p{
    margin-top: 20px;
    text-align: justify;
    font-size: 2em;
    font-weight: normal;
}
/* MEDIA QUERIES */
@media all and (min-width: 1601px) and (max-width: 1850px) {
    .inner-layout, .home-layout{
        width: 75%;
    }
}
@media all and (min-width: 1400px) and (max-width: 1600px) {
    .inner-layout, .home-layout{
        width: 85%;
    }
}
@media all and (min-width: 1000px) and (max-width: 1399px) {
    .inner-layout, .home-layout{
        width: 95%;
    }
}
@media all and (min-width: 800px) and (max-width: 999px) {
    .inner-layout, .home-layout{
        width: 95%;
    }
    #home-left-column{
        width: 36%;
    }
    #home-right-column{
        width: 52%;
    }
    #home-promo li{
        width: calc((100% - 9%)/2);
        padding-bottom: 20px;
    }
    #home-promo li:first-of-type{
        float: none;
        width: 94%;
    }
    #home-promo li:first-of-type a.thumb{
        max-width: none;
        max-height: 200px;
        text-align: right;
        background: -webkit-linear-gradient(left, transparent 0%, hsla(195, 13%, 53%, 1) 40%);
        background: -o-linear-gradient(right, transparent 0%, hsla(195, 13%, 53%, 1) 40%);
        background: -moz-linear-gradient(right, transparent 0%, hsla(195, 13%, 53%, 1) 40%);
        background: linear-gradient(to right, transparent 0%, hsla(195, 13%, 53%, 1) 40%);
    }
    #home-promo li:first-of-type a.thumb:hover{
        background: -webkit-linear-gradient(left, transparent 0%, hsla(0, 0%, 60%, 1) 40%);
        background: -o-linear-gradient(right, transparent 0%, hsla(0, 0%, 60%, 1) 40%);
        background: -moz-linear-gradient(right, transparent 0%, hsla(0, 0%, 60%, 1) 40%);
        background: linear-gradient(to right, transparent 0%, hsla(0, 0%, 60%, 1) 40%);
    }
    #home-promo li:first-of-type a.thumb img{
        width: 100%;
        max-width: 300px;
    }
}